body {
  background-color: #FFD198;
  color: #2f2011;
  background-image: url("brick.avif");
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-y: hidden;
}

.mid {
  text-wrap: wrap;
  width: 40%;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  flex-direction: column;
}

.mid img {
  height: 250px;
  width: auto;
  object-fit: cover;
}

.flex {
  display: flex;
  justify-content: space-evenly;
  padding-top: 10pt;
}

#result {
  text-align: center;
  padding-top: 20pt;
}

.buttons {
  text-align: center;
  padding-top: 15px;
}

button {
  background-color: #C9701D; 
  color: white; 
  border-radius: 8px;
  padding: 7px 20px;
  /* height: 40px; */
}

button:hover {
  color: #C9701D;
  background-color: white;
}

img {
  height: 200px;
  width: auto;
}

img[src=""] {
  display: none;
}

.img-holder {
  width: 200px;
  height: 200px;
  
}