body {
  background-color: #FFD198;
  color: #2f2011;
  background-image: url("brick.avif");
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3, h1, h4 {
  margin-bottom: 2pt;
}

ol, ul {
  margin-top: 2pt;
}

.mid {
  width: 35%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.mid img {
  height: 200px;
  width: auto;
}

.flex {
  display: flex;
  justify-content: space-evenly;
  padding-top: 7pt;
}

#result {
  text-align: center;
  padding-top: 20pt;
}

.buttons {
  text-align: center;
  padding-top: 15px;
}

button {
  background-color: #C9701D; 
  color: white; 
  border-radius: 8px;
  padding: 7px 20px;
}

button:hover {
  color: #C9701D;
  background-color: white;
}

img {
  height: 200px;
  width: auto;
}

.one img {
  animation-name: idle1;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.two img {
  animation-name: idle2;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes idle1 {
  0% {transform: translateY(0);}
  50% {transform: translateY(-15px);}
  100% {transform: translateY(0);}
}

@keyframes idle2 {
  0% {transform: translateY(-15px);}
  50% {transform: translateY(0);}
  100% {transform: translateY(-15px);}
}

/* Code to make the website responsive to mobile screen sizes */
@media (max-width: 992px) { 

  .mid img {
    height: 100px;
  }

  .mid {
    padding-right: 40px;
  }

  .buttons {
    padding-left: 100px;
  }

}